<a href="https://colab.research.google.com/github/habeebasid/assigment1/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s="string"
l1=[1,2,3,4]
a=23.45
t=(2,3,4,5)

In [4]:
var1=""
var2="[ds,ml,python]"
var3=["ds",'ml','python']
var4=1

In [7]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [8]:
print(4/5) #this gives the division
print(4//5)#this gives the absolute div
print(4%5) #this gives the remainder
print(4**5)#this gives the raise to number

0.8
0
4
1024

In [10]:
l2=[2,"hey",23.4,(1,2),[3,4],True,"cake",4.0,False]

In [12]:
for x in l2:
  print(type(x))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'bool'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [14]:
x=10
y=2
while True :
  if x%y==0 :
    print("the number is purely divisible")
    print("the count is")
    print(x//y)
    break

  else :
    print("The number isnt purely divisible")
    break

the number is purely divisible
the count is
5

In [16]:
l3=[]
for x in range(1,26,1):
   l3.append(x)
print(l3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [18]:
for x in l3 :
  if x%3==0 :
    print(x,"yes")
  else:
    print(x,"no")

1 no
2 no
3 yes
4 no
5 no
6 yes
7 no
8 no
9 yes
10 no
11 no
12 yes
13 no
14 no
15 yes
16 no
17 no
18 yes
19 no
20 no
21 yes
22 no
23 no
24 yes
25 no

In [19]:
l1=[1,2,3,4]
t=(1,2,3,4)

In [20]:
l1[2]="changed"
print(l1)

[1, 2, 'changed', 4]

In [22]:
t[0]="not changed"

TypeError: ignored

In [ ]:
# tuples and strings cannot be changed
#list can be changed