<a href="https://colab.research.google.com/github/habeebasid/assigment1/blob/main/func_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# def is used to create fun
l=[]
def odd_num():
  for i in range(1,26,1):
     if i%2==0 :
      pass

     else:
       l.append(i)
  return l

In [ ]:
odd_num()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

In [ ]:
# *args helps u take as many as u wish variable argument in func
def myfunc(*args):
  for args in args :
    print(args)

In [ ]:
myfunc('data','machine','learning','science')

data
machine
learning
science

In [ ]:
#here **kwargs accept keyworded variable length argument
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [ ]:
#iterator is used to iterate through an instance
list = [2, 4, 6, 8, 10, 12, 14,
16, 18, 20]
myiter = iter(list)

In [ ]:
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

2
4
6
8
10

In [ ]:
#yield keyword is used to create a generator function
def simpleGeneratorFun():
	yield 1
	yield 2
	yield 3

for value in simpleGeneratorFun():
	print(value)

1
2
3

In [ ]:
i = 1
n = 10

# while loop from i = 1 to 10
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
s='pwskills'

In [ ]:
l1=[i for i in s]
print(l1)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [ ]:
def fib(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b= b,a+b

In [ ]:
for i in fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [ ]:
num = 11
# calculate reverse of number
reverse = 0
number = num
while(num != 0):
   remainder = num % 10
   reverse = reverse * 10 + remainder
   num = int(num / 10)

# compare reverse to original number
if(number == reverse):
   print(number,'is a Palindrome')
else:
   print(number,'is not a Palindrome')

11 is a Palindrome

In [1]:
newlist = [x for x in range(100) if x%2 != 0]

In [2]:
newlist

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]